#about-us {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.about-us {
  background:white;
}

#about .container-fluid {
  padding: 0;
}


.heading-section {
  padding-bottom: 0px;
  margin-bottom: 0px;
  background: white;
}

.heading-section h3 {
  font-size: 40px;
  font-weight: 300;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding-top: 50px;
  margin: 0 0 30px 0;
}

.heading-section h3::after {
  position: absolute;
  content: "";
  background: #05cea6;
  height: 2px;
  width: 100px;
  bottom: -6px;
  margin-left: -50px;
  left: 50%;
}

.heading-section p {
  font-size: 22px;
}

#who-we-are {
    background: whitesmoke;
    max-height: 500px;
    background-size: cover;
}

#img2 {
  width: 100%;
  max-width: 100%;
  margin-left: -30px;
}

.about-img {
  background: #444 url(../../assets/img/needy-students.jpg) center center no-repeat;
  background-size: cover;
  height: 500px;
  float: left;
}

.about-content {
  align-items: center;
  justify-content: center;
  float: left;
}

.section-text {
  justify-content: center;
  text-align: center;
  font-size: 18px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  line-height: 1.7;
}

.section-title h2 {
  padding-top: .5em;
  color: #5a5a5a;
}



#ggmap {
  height: 100vh;
  width: 100%;
  border-radius: 10px;
  margin: auto;
}

#where-are-we {
  margin-top: 2rem;
  background: whitesmoke;
}

.location-content {
  padding-top: 40px;
}

.section-title2 h2{
  color: #5a5a5a;
}

.section-text2 {
  line-height: 1.8;
  font-size: 18px;
  text-align: left;
  padding-left: 15px;
}