.navbar-brand {
    font-size: 22px;
    font-weight: 600;
}

#foundation-name {
    color: black;
}

.navbar {
    position: sticky;
    top: 0rem;
    background-color: white;
    padding: 10px 10px;
    z-index: 999;
}

.navbar-default {
    border-color: white;
    padding: 10px 10px;
}

#nav-link {
    color: black;
    font-size: 15px;
}

.brand-box {
    padding-left: 40px;
}

#logo {
    margin-top: -5px;
    max-height: 30px;
}